<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> home </title>
    <h1> home </h1>
 </head>
  
  <body>
    
    <p>
Hello everyone, welcome to the new format newsletter! We hope you like the update, courtesy of Martin Holland, who has taken over from Geoff Gunton to collaborate with me to produce this august publication. As this is the season end, we have tried to include a round up of all the competitions the club and members have been involved with, which turns out to be quite a few.  
    </p>
    
    <p>
      Thanks to all the various people who organise the Teams and various competitions throughout the year. Despite being a small one lawn club, we perform very well in the competitions we enter and as a result I’m sure the standard of play throughout the club seems to be improving, so check your handicap cards and see if you qualify for the Secretary’s certificate (see below)
      </p>
     <p>
       I had hoped to generate the draw for next season’s competitions a while ago, but as the committee decided to improve the lawn, there was no longer the urgency. However, due to the excellent work by Roger and Laurence it looks like I’d better get a move on!
    </p>
     <p>
     Finally, Geoff and I did an Association Club Coaching course earlier this year, so if anyone would like some help with their game over the close season, feel free to give us a call. A few people have asked for help already, so when the lawn is operating again we will try and get something organised on an ad-hoc basis. I mustn’t forget Ian Cobbold, who recently did his coaching for Golf Croquet and of course John Taylor, for the more experienced players.
      </p>
    
    
  </body>
  
  
  
  
  
</html>
  
