<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Links to croquet sites </title>
    <h1> Links to croquet sites </h1>
 </head>
  
  <body>
    
    <p>
      <a href="http://www.croquet.org.uk/"> The croquet association   </a> 
      
      <a href="http://www.southeastcroquet.org.uk/"> The South East Croquet Federation   </a> 
      
       <a href="http://www.thecroquetacademy.com/"> The Croquet Academy   </a> 
      
       <a href="http://cornwall-croquet.org.uk/croquet_glossary.htm"> Cornwall Croquet Club Croquet Terminology   </a> 
      
       <a href="http://www.oxfordcroquet.com/equip/"> Croquet Equipment   </a> 
      
       <a href="http://www.croquet.org.uk/association/laws.html"> croquet rules   </a> 
    
      
      
    </p>
  </body>